<mat-card style="padding: 10px 24px">
    <mat-card-header>
      <mat-card-title>
        <strong>Track your current task</strong>
        <mat-slide-toggle
            [disabled]="isRunning"
            (change)="isAutomaticMode = !isAutomaticMode"
            [checked]="isAutomaticMode">Automatic mode</mat-slide-toggle>
      </mat-card-title>
    </mat-card-header>
</mat-card>

<app-timer-control [hidden]="!isAutomaticMode"
                  [timeTracker]="currentTimeTracker"
                   [isLoading]="isLoading"
                   [isRunning]="isRunning"
                   (startTimerEvent)="startTimer($event)"
                   (stopTimerEvent)="stopTimer($event)"></app-timer-control>

<app-timer-control-manual [hidden]="isAutomaticMode"
                  [timeTracker]="currentTimeTracker"
                  [userId]="userId"
                   [isLoading]="isLoading"
                   (addManualTimeEntryEvent)="getAddManualTimeEntryEvent($event)"></app-timer-control-manual>

<section>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <app-time-logs *ngIf="!isLoading"
                 (deleteTimeLogEvent)="getTimlogDeleteEvent($event)"
                 [timeLogs]="timeLogs?.records"
                 [timeBookings]="timeBookings?.records">
  </app-time-logs>
</section>
